.button {
  color: white;
  margin: 0 1em 0.8em;
  display: inline-block;
  padding: 0.8em 6em;
  border-radius: 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease 300ms;
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
  text-shadow: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &.inverse {
    color: #000;
    background-color: rgba(#fff, 0.8);

    &:hover {
      background-color: rgba(#fff, 1);
    }
  }
}
