
.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#dollar-value-a,
#dollar-value-b {
  top: -100px;
  right: 0;
  line-height: 2;
  position: absolute;
  min-width: 30vw;
  border-bottom: 2px dotted #000;
  transition: 350ms ease-out;
}
#dollar-value-a {
  border-bottom-color: #0063B2;
}
#dollar-value-b {
  border-bottom-color: #c91f17;
}